* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

h1 {
    position: relative;
    color: white;
    text-align: center;
    font-size: 60px;
}

nav {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #000;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 50px;
    /* border: 1px white solid; */
}

nav .nav-bar {
    list-style: none;
    display: flex;
}

nav .nav-bar li {
    margin-left: 20px;
}

nav .nav-bar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav .nav-bar a:hover {
    color: blueviolet;
}

.main-content {
    padding: 20px;
}

.story-reel {
    margin-bottom: 40px;
}

.story-reel h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.story-scroll {
    border: 1px white solid;
    display: flex;
    overflow-x: auto;
    height: 250px;
    overflow-x: scroll;
    padding: 20px;
    background-color: black;
    white-space: nowrap;
}

.story-scroll::-webkit-scrollbar {
    display: none;
}

.story-item {
    /* border: 1px white solid; */
    flex: 0 0 auto;
    height: auto;
    width: 200px;
    position: relative;
    margin-right: 10px;
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
    overflow-x: hidden;
    cursor: pointer;
    overflow-y: hidden;
}

.story-item a {
    text-decoration: none;
    color: inherit;
}

.story-image {
    height: 80%;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    transition: transform 0.3s ease;
}

.story-title {
    overflow-x: visible;
}

.story-title-box {
    /* border: 1px white solid; */
    text-wrap: wrap;
}

.scroll-item:hover .story-image {
    transform: scale(1.5);
}